<div class="page-content">
    <div class="col-sm-6 pull-right">
      
       <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'propose'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
        
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
               详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="" method="post" name="myfrom" >
              	
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">反馈人联系方式</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.szContactInfo}" name="phone"/>
                    </div>
                </div>    
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">反馈内容</label>
                    <div class="col-sm-9">
                         <textarea class="col-xs-10 col-sm-5" rows="8" name='content'>{$info.szContent}</textarea>

                    </div>
                </div>   
                <div class="space-4"></div>
             
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->