<div class="page-content">
    <div class="col-sm-6 pull-right">

        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'help'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
     
    </div>
    <div class="page-header">
        <h1>
            <!--{:model('menu')->getParentNname()}-->查看帮助
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
               详情
            </small>
        </h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
          


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">内容:</label>
                    <div class="col-sm-9">
                        <textarea class="col-xs-10 col-sm-5" rows="8" name='content'>{$info.content|default=''}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
                

        </div>
    </div>
</div>












